<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
  <title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css" />

<body>
  <!-- bootstrap requires a 'container' div around content -->
  <div class="container">

    <h1>ACP Brevet Times</h1>
    <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

    <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!-- Design on bootstrap grid -->
    <form role="form">
      <div class="row">
        <div class="col-md-4">
          <label>Distance</label>
          <select name="distance" id="brevet_dist_km">
            <option value="200">200km</option>
            <option value="300">300km</option>
            <option value="400">400km</option>
            <option value="600">600km</option>
            <option value="1000">1000km</option>
          </select>
        </div> <!-- columns 1--4  -->
        <div class="col-md-6">
          <label>Begins at</label>
          <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
          <input type=time name="begin_time" id="begin_time" value="00:00" />
        </div> <!-- columns 5-10 -->
      </div> <!-- row -->


      <div class="row">
        <div class="col-md-12">
          <p id="error_message"></p>
        </div>
      </div>


      <br /> <!-- Cosmetic -- a little vertical space -->
      <!-- Although we do not use tables for general page layout, they are
       appropriate for something that really is a table, like this
       one.  We allocate it the full 12 columns of the bootstrap grid.
  -->
      <div class="row">
        <div class="col-md-12">
          <table class="control_time_table">
            <tr>
              <th> Miles </th>
              <th> Km </th>
              <th>Location</th>
              <th>Open</th>
              <th>Close</th>
              <th>Notes</th>
            </tr>
            {% for row in range(20) %}
            <tr class="control">
              <!-- Dist (mi) -->
              <td><input name="miles" type="number" min="0" max="900" size="5" /></td>
              <!-- Dist (km) -->
              <td><input name="km" type="text" min="0" max="1100" size="5" /> </td>
              <!-- Location (optional) -->
              <td><input name="location" type="text" placeholder="Optional location name" size="20" /> </td>
              <!-- Open time (read only, set by JavaScript function -->
              <td><input name="open" type="datetime" value="" readonly /></td>
              <!-- Close time (read only, set by JavaScript function -->
              <td><input name="close" type="datetime" value="" readonly /></td>
              <!-- Notes (error messages for this row) -->
              <td class="notes"> &nbsp; </td>
            </tr>
            {% endfor %}
          </table>
        </div> <!-- col -->
      </div> <!-- row -->

      <div class="row">
        <div class="col-md-12">
          <input id="submit" type="button" value="Submit">
          <input id="display" type="button" value="Display">
        </div>
      </div>
    </form>

    <script type="text/javascript">
      var SCRIPT_ROOT = {{request.script_root | tojson | safe}};
      var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
      var SUBMIT_URL = SCRIPT_ROOT + "/submit";
      var DISPLAY_URL = SCRIPT_ROOT + "/display";

      // Pass calctimes a <td> element containing the data for a control.
      // It extracts the distance and calls the server to get times to
      // fill in open and close times in a human-readable format.
      // (If we want to also keep the ISO-formatted times, we'll need to
      // stash them in hidden fields.) 
      function calc_times(control) {
        var brevet_dist_km = $("#brevet_dist_km").val()
        var begin_date = $("#begin_date").val()
        var begin_time = $("#begin_time").val()
        var km = control.find("input[name='km']").val();
        var open_time_field = control.find("input[name='open']");
        var close_time_field = control.find("input[name='close']");

        $.getJSON(TIME_CALC_URL, {
            km: km,
            brevet_dist_km: brevet_dist_km,
            begin_date: begin_date,
            begin_time: begin_time
          },
          // response handler
          function (data) {
            var times = data.result;
            console.log("Got a response: " + times);
            console.log("Response.open = " + times.open);

            var error_message = $("#error_message")
            error_message.empty()

            if (times.open == {{ACP_ERROR_CONTROL_MORE_THAN_BREVET}}) {
              error_message.html("Control distance should not be more than brevets distance.")
            } else if (times.open == {{ACP_ERROR_INVALID_DISTANCE}}) {
              error_message.html("Control distance and brevets distance should be positive integer.")
            } else if (times.open == {{ACP_ERROR_INVALID_DATE}}) {
              error_message.html("Invalid start date.")
            } else {
              open_time_field.val(moment(times.open).format("ddd M/D H:mm"));
              close_time_field.val(moment(times.close).format("ddd M/D H:mm"));
            }

          } // end of handler function
        ); // End of getJSON
      }

      $(document).ready(function () {
        // Do the following when the page is finished loading

        $('#display').click(function() {
          $.getJSON(DISPLAY_URL, {}, function(data) {
            var times = data.result
            console.log("Got a response: " + times);
            console.log("Response.open = " + times.open);
            var error_message = $("#error_message")
            error_message.empty()
            if (times.length > 0) {
              window.open('/show');
              return
            } else {
              error_message.html('No saving data!');
            }
          })
        })

        $('#submit').click(function () {
          // Collecting data to submit
          var submit_data = {
            brevet_dist_km: $("#brevet_dist_km").val(),
            begin_time: $("#begin_date").val() + 'T' + $("#begin_time").val() + ':00+00:00',
            control_times: []
          }
          $("input[name='km']").each((index, element) => {
            var control = $(element).parents(".control")
            var open_string = $("#begin_date").val()+' '+control.find("input[name='open']").val()
            var close_string = $("#begin_date").val()+' '+control.find("input[name='close']").val()
            if ($(element).val() != '') {
              submit_data.control_times.push({
                miles: control.find("input[name='miles']").val(),
                km: control.find("input[name='km']").val(),
                location: control.find("input[name='location']").val(),
                open: moment(open_string, "YYYY-MM-DD ddd M/D H:mm").utc().format('YYYY-MM-DDTHH:mm:ss+00:00'),
                close: moment(close_string, "YYYY-MM-DD ddd M/D H:mm").utc().format('YYYY-MM-DDTHH:mm:ss+00:00'),
              })
            }
          });// End of data collecting
          submit_data.control_times = JSON.stringify(submit_data.control_times)

          // Post data
          $.post(SUBMIT_URL, submit_data,
            // response handler
            function (response) {
              console.log("Got a response: " + response);

              var error_message = $("#error_message")
              error_message.empty()

              if (response.status == "success") {
                error_message.html("Insert all control times success!")
              } else {
                error_message.html(response.error_message)
              }
            } // end of handler function
          ); // End of post
        });

        $('#begin_date').change(
          function () {
            $("input[name='km']").each((index, element) => {
              var control_entry = $(element).parents(".control")
              // Then calculate times for this entry
              if ($(element).val() != '') {
                calc_times(control_entry);
              }
            });
          });

        $('#begin_time').change(
          function () {
            $("input[name='km']").each((index, element) => {
              var control_entry = $(element).parents(".control")
              // Then calculate times for this entry
              if ($(element).val() != '') {
                calc_times(control_entry);
              }
            });
          });

        $('#brevet_dist_km').change(
          function () {
            $("input[name='km']").each((index, element) => {
              var control_entry = $(element).parents(".control")
              // Then calculate times for this entry
              if ($(element).val() != '') {
                calc_times(control_entry);
              }
            });
          });

        $('input[name="miles"]').change(
          function () {
            var miles = parseFloat($(this).val());
            var km = (1.609344 * miles).toFixed(1);
            console.log("Converted " + miles + " miles to " + km + " kilometers");
            var control_entry = $(this).parents(".control")
            var target = control_entry.find("input[name='km']");
            target.val(km);
            // Then calculate times for this entry
            calc_times(control_entry);
          });

        $('input[name="km"]').change(
          function () {
            var km = parseFloat($(this).val());
            var miles = (0.621371 * km).toFixed(1);
            console.log("Converted " + km + " km to " + miles + " miles");
            var control_entry = $(this).parents(".control")
            var target = control_entry.find("input[name='miles']");
            target.val(miles);
            // Then calculate times for this entry
            calc_times(control_entry);
          });

      }); // end of what we do on document ready
    </script>

  </div>
</body>

</html>