<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>

<head>
  <title>ACP Controle Times - Display</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css" />

<body>
  <!-- bootstrap requires a 'container' div around content -->
  <div class="container">

    <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

    <div id="control_times"></div>

    <script type="text/javascript">
      var SCRIPT_ROOT = {{request.script_root | tojson | safe}};
      var DISPLAY_URL = SCRIPT_ROOT + "/display";

      $(document).ready(function () {
        // Do the following when the page is finished loading

        function display() {
          $.getJSON(DISPLAY_URL, {}, function(data) {
            var times = data.result
            console.log("Got a response: " + times);
            console.log("Response.open = " + times.open);
            var error_message = $("#error_message")
            error_message.empty()
            if (times.length > 0) {
              var display_content = ''

              for (let index = 0; index < times.length; index++) {
                  const element = times[index];
                  const control_times = element['control_times']
                  display_content += element['brevet_dist_km'] + 'km ACP BREVET<br>'
                  display_content += 'Checkpoint&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;&nbsp;Time<br>'
                  display_content += '==========&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;====&nbsp;&nbsp;====<br>'
                  for (let index2 = 0; index2 < control_times.length; index2++) {
                      const control_time = control_times[index2];
                      display_content += '&nbsp;'+control_time['km']+'km&nbsp;&nbsp;&nbsp;&nbsp;start:&nbsp;&nbsp;&nbsp;'+moment(control_time['open']).format('MM/DD HH:mm')+'<br>'
                      display_content += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;close:&nbsp;'+moment(control_time['close']).format('MM/DD HH:mm')+'<br>'
                  }
                  display_content += '<br>'
              }

              $('#control_times').html(display_content)
            } else {
              error_message.html('No saving data!');
            }
          })
        }

        display();
      }); // end of what we do on document ready
    </script>

  </div>
</body>

</html>